.bg_banner{
    background: url("../image/gyl/banner.png")center no-repeat;
    width: 100%;
    height: 803px;
    position: relative;
}
.left_banner{
    position: absolute;
    top: 40%;
    left: 20%;
    color: #fff;
}
.lxfont{
    background-color: #323232;
    height: 30px;
    line-height: 30px;
    width: 130px;
    text-align: center;
    margin: 30px 0px 10px 0px;
}
.lxfont1{
    width: 130px;
    text-align: center;
}
.img1{
    position: absolute;
    display: none;
    bottom: 0px;
    right: 0px;
    height: 200px;
    width: 400px;
}
.img2{
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 550px;
    height: 177px;
}
.img4{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 151px;
}
.img3{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 250px;
    width: 200px;
}
.gd{
    transition: width 5s, height 5s, transform 2s;
    -moz-transition: width 5s, height 5s, -moz-transform 2s;
    -webkit-transition: width 5s, height 5s, -webkit-transform 5s;
    -o-transition: width 5s, height 5s,-o-transform 5s;
    display: block;!important;
}
.bannerM{
    height: 40px;line-height: 40px;background: #000000;width: 100%
}
.bannerM>ul>li{
    width: 33%;
    float: left;
    text-align: center;
    color: #fff;
}
.internet{
    background: url("../image/gyl/lanseditu.png")center no-repeat;
    width: 100%;
    height: 771px;
    position: relative;
    color: #fff;
    padding-top: 50px;
}
.internetImg{
    background: url("../image/gyl/lansetu022.png")center no-repeat;
    width: 100%;
    height: 490px;
    position: absolute;
    top: 200px;
}
.internetLeft{
    position: absolute;
    top: 30%;
    left: 13%;
}
.internetLeft>li{
    height: 60px;
    width: 60px;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    background: #569FCF;
    border-radius: 50%;
}
.internetLeft>li>span{
    height: 50px;
    width: 50px;
    display: block;
    color: #fff;
    padding: 5px;
    text-align: center;
    background: #77B0DC;
    border-radius: 50%;
}
.internetRight{
    position: absolute;
    top: 30%;
    right: 13%;
}
.internetRight>li{
    height: 60px;
    width: 60px;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    background: #569FCF;
    border-radius: 50%;
}
.internetRight>li>span{
    height: 50px;
    width: 50px;
    display: block;
    color: #fff;
    padding: 5px;
    text-align: center;
    background: #77B0DC;
    border-radius: 50%;
}
.internet>h1{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.internet>h3{
    width: 1000px;
    line-height: 30px;
    text-align: center;
    margin: 20px auto;
}
.p1{
    position: absolute;
    bottom: 140px;
    font-size: 24px;
    left: 44%;
    z-index: 1;
}
.p2{
    position: absolute;
    left: 23%;
    bottom: 36%;
    font-size: 18px;
}
.p3{
    position: absolute;
    right: 24%;
    bottom: 36%;
    font-size: 18px;
}
.p4{
    position: absolute;
    bottom: 38%;
    left: 46.5%;
    font-size: 26px;
}
.internetCenter{
    position: absolute;
    top: 37%;
    left: 32%;
    width: 500px;
}
.internetCenter>li{
    text-align: center;
    width: 33%;
    float: left;
}
.internetCenter>li>img{
    display: block;
    margin: 10px auto;
}
.financial{
    position: relative;
    height: 850px;
    padding-top: 30px;
}
.h1Text{
    width: 360px;
    text-align: center;
    margin: 20px auto;
}
.h2Text{
    width: 1000px;
    text-align: center;
    margin:0px auto;
}
.financialImg{
    background: url("../image/gyl/00009.png") center no-repeat;
    width: 100%;
    height: 348px;
    margin-top: 150px;
}
.Marketing{
    background: url("../image/gyl/heisedi.png") center no-repeat;
    width: 100%;
    height: 832px;
    position: relative;
    color: #fff;
    padding-top: 50px;
}
.Marketing>h1{
    text-align: center;
}
.Marketing>h3{
    width: 1000px;
    text-align: center;
    line-height: 30px;
    margin: 20px auto;
}
.MarketingImg{
    background: url("../image/gyl/caisetu.png")center no-repeat;
    width: 100%;
    height:403px;
    margin-top: 130px;
}
.div1{
    position: absolute;
    top: 29%;
    left: 47%;
    text-align: center;
    font-size: 18px;
}
.div2{
    position: absolute;
    top: 46%;
    left: 75%;
    text-align: center;
    font-size: 18px;
}

.div3{
    position: absolute;
    top: 70%;
    left: 75%;
    text-align: center;
    font-size: 18px;
}

.div4{
    position: absolute;
    top: 85%;
    left: 47%;
    text-align: center;
    font-size: 18px;
}

.div5{
    position: absolute;
    top: 70%;
    left: 20%;
    text-align: center;
    font-size: 18px;
}

.div6{
    position: absolute;
    top: 46%;
    left: 20%;
    text-align: center;
    font-size: 18px;
}
.div7{
    position: absolute;
    top: 57%;
    text-align: center;
    left: 45%;
    font-size: 18px;
}
.cold3{
    color: #02EFD3;
}
.line{
    background: url("../image/gyl/xiangao.png") center no-repeat;
    width: 100%;
    height: 451px;
    position: absolute;
    top: 23%;
}
.fineP1{
    position: absolute;
    top: 21.5%;
    left: 45%;
    color:#4479FC;
    font-size: 16px;
}
.fineP2{
    position: absolute;
    top: 74.5%;
    left: 43%;
    color:#4479FC;
    font-size: 16px;
}
.bigJ{
    background: url("../image/gyl/jiantou00089.png")no-repeat;
    width: 522px;
    height: 53px;
    line-height: 53px;
    position: absolute;
    top: 27%;
    left: 34%;
    text-align: center;
    color:#4479FC;
}
.bigJ1{
    background: url("../image/gyl/jiantou00089.png")no-repeat;
    width: 522px;
    height: 53px;
    line-height: 53px;
    position: absolute;
    top: 53%;
    left: 34%;
    text-align: center;
    color:#4479FC;
}
.shuangJ{
    background: url("../image/gyl/shuzijiantou005.png")no-repeat;
    width: 136px;
    height: 53px;
    line-height: 53px;
    position: absolute;
    top: 40%;
    left: 34%;
    text-align: center;
    color:#4479FC;
}
.shuangJ1{
    background: url("../image/gyl/shuzijiantou005.png")no-repeat;
    width: 136px;
    height: 53px;
    line-height: 53px;
    position: absolute;
    top: 40%;
    left: 60%;
    text-align: center;
    color:#4479FC;
}
.fengKong{
    position: absolute;
    right: 16%;
    top: 8%;
}
.fengKong>li{
    width: 85px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
    border:1px solid #BBD2FE;
    background: -webkit-linear-gradient(#F7F7FF, #A9C6FF); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#F7F7FF, #A9C6FF); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#F7F7FF, #A9C6FF); /* Firefox 3.6 - 15 */
    background: linear-gradient(#F7F7FF, #A9C6FF); /* 标准的语法 */
}
.queQuan{
    position: absolute;
    left: 14%;
    top: 10%;
}
.queQuan>li{
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
    border:1px solid #BBD2FE;
    background: -webkit-linear-gradient(#F7F7FF, #A9C6FF); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#F7F7FF, #A9C6FF); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#F7F7FF, #A9C6FF); /* Firefox 3.6 - 15 */
    background: linear-gradient(#F7F7FF, #A9C6FF); /* 标准的语法 */
}
.queQuan>li:nth-child(2){
    height: 100px;
    line-height: inherit;
    padding: 20px;
    background: -webkit-linear-gradient(#F7F7FF, #FFD182); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#F7F7FF, #FFD182); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#F7F7FF, #FFD182); /* Firefox 3.6 - 15 */
    background: linear-gradient(#F7F7FF, #FFD182); /* 标准的语法 */
}
.changJing{
    width: 1200px;
    margin: 80px auto;
}
.changJing>li{
    width: 190px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    margin-right: 12px;
    float: left;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: bold;
    border:1px solid #BBD2FE;
    background: -webkit-linear-gradient(#F7F7FF, #A9C6FF); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#F7F7FF, #A9C6FF); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#F7F7FF, #A9C6FF); /* Firefox 3.6 - 15 */
    background: linear-gradient(#F7F7FF, #A9C6FF); /* 标准的语法 */
}
.changJing>li:last-child{
    margin-right: 0px;
}
.imgP1{
    position: absolute;
    bottom: 0px;
    left: 11%;
}
.imgP2{
    position: absolute;
    bottom: 0px;
    left: 50%;
}
.imgP3{
    position: absolute;
    bottom: 0px;
    right: 11%;
}
.jrfw{
    width: 1200px;
    margin: 0px auto;
    position: relative;
}






















