<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/iconfont.css" />
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/header.css" />
  <link rel="stylesheet" href="../../css/scxq.css">
  <link rel="stylesheet" href="../../css1/qd_index.css">
  <link rel="stylesheet" href="../../css1/main.css">
  <link rel="stylesheet" href="../../layui/css/layui.css">
  <script src="../../js/jquery-1.12.4.min.js"></script>
  <script src="../../layui/layui.js"></script>
  <title>供应链平台</title>
</head>

<body>
  <div class="header" style="height: 50px;">
    <div class="roof">
      <div class="wrap top_roof clear">
        <!--顶部左边-->
        <ul class="lf">
          <li>
            <a href="javascript:;" class="col58"> <span class="iconfont icon-jingjizhibiao"
                style="font-size: 20px;;"></span> 同衡新经济双招双引公共服务平台</a>
            <a href="javascript:;" class="col58" style="margin-left: 12px;"> <span class="iconfont icon-hezuohuoban"
                style="font-size: 20px;;"></span> 数字丝路国际产业合作公共服务平台</a>
          </li>
        </ul>
        <!--顶部右边-->
        <ul class="rt top_right">
          <li>
            <a href="javascript:;" class="col58">管理服务平台</a>
            <b style="height: 10px;color: #CA9F58">|</b>
            <a href="javascript:;" class="col58">企业办事大厅</a>
          </li>
          <li>
            <a href="javascript:;" target="_blank" class="colcb"><span class="iconfont icon-denglu col58"></span> 请登录
              /</a>
            <a href="javascript:;" target="_blank" class="colcb"> 注册</a>
          </li>
        </ul>
        <ul class="Root-Right HasName" style="display: none;">
          <li>
            <a href="../view/gerenzhongxin/admin_QD.html"> 企业办事大厅</a>
          </li>
          <li>
            <a href="javascript:;" class="UserName"></a>
          </li>
          <li>
            <a href="javascript:;" class="exit">退出</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 商品头 -->
  <div class="scxqC spt">
    <img src="../../image/cpxq/gsLogo.png" height="75" width="80" class="lf mr" alt="">
    <div class="lf">
      <p class="gsm">武义捷顺工具科技集团有限公司</p>
      <p class="gsd">中国 浙江 武义县 武义县桐琴镇</p>
      <p class="qjd"><img src="../../image/cpxq/zuanS.png" height="13" width="15" alt=""><span>旗舰店</span></p>
    </div>
    <div class="bd_search rt" style="width: 310px;">
      <form class="bd_search-form" action="" method="post">
        <b class="fuwu">商品</b>
        <input class="bd_search-val" type="text" placeholder="请输入关键字">
        <span class="iconfont icon-sousuo"></span>
      </form>
    </div>
  </div>

  <!-- 导航条 -->
  <div class="daohang">
    <ul class="scxqC">
      <li><a href="">首页</a></li>
      <li><a href="">全部商品</a></li>
      <li><a href="">联系我们</a></li>
    </ul>
  </div>

  <!-- 详情 -->
  <div class="qd_center">
    <div class="Top">
      <img src="../../image/cpcs/qy.png" width="78" height="67" style="position: absolute;left:0px;top:0px;" alt="">
      <p class="resiter"><img src="../../image/cpcs/date.png" width="15" height="15" alt=""> 注册时间：2018-12-26</p>
      <div class="conT">
        <img src="../../image/cpcs/qyLogo.png" width="179" height="161" class="lf" alt="">
        <ul class="lf" style="width: 700px;">
          <li>武义皆顺工具科技集团有限公司</li>
          <li><span>成立时间：</span>2019-08-15</li>
          <li><span>公司地址：</span>河北省邢台市清河县经济开发区丽江街以北、大众路以东</li>
          <li><span>公司联系人：</span>王海西</li>
          <li><span>联系电话：</span>165231654541</li>
          <li><span>主营业务：</span>
            <span class="lineClamp">
              河北瑞恒橡塑制品有限公司成立于2014年07月29日，注册地位于河北省邢台市清河县经济开发区漓江街以北、大众路以东
              法人代表为张国超。经营范围包括橡胶制品、塑料制品、滤清器、拉线加工销售（依法须经批准的项目，经相关部门批准后
              方可开展经营活动）,河北瑞恒橡塑制品有限公司成立于2014年07月29日河北瑞恒橡塑制品有限公司成立于2014年07月29日，注册地位于河北省邢台市清河县经济开发区漓江街以北、大众路以东
              法人代表为张国超。经营范围包括橡胶河北瑞恒橡塑制品有限公司成立于2014年07月29日，注册地位于河北省邢台市清河县经济开发区漓江街以北、大众路以东
              法人代表为张国超。经营范围包括橡胶
            </span>
          </li>
        </ul>
        <div style="clear: both"></div>
      </div>
    </div>
    <div class="qd_center" style="padding: 0px 15px">
      <div style="width:230px;" class="lf">
        <div class="qd_qyda qd_dp_bg">企业诚信档案</div>
        <div style="border:1px solid #ddd;padding:0px 15px;height: 375px;margin-bottom:15px;">
          <div class="qd_qy_mc">青岛瑞源工程集团有限公司<br />9年</div>
          <ul class="qd_qylb">
            <li><img src="../../image/xicon/tubiao3.png" alt=""> VIP会员</li>
            <li><img src="../../image/xicon/tubiao4.png" alt=""> 营业执照</li>
            <li><img src="../../image/xicon/tubiao2.png" alt=""> 法人身份</li>
            <li><img src="../../image/xicon/tubiao5.png" alt=""> 手机认证</li>
            <li><img src="../../image/xicon/tubiao1.png" alt=""> 证书2张</li>
            <li><img src="../../image/xicon/tubiao6.png" alt=""> 商铺9年</li>
          </ul>
          <ul class="qd_zczj">
            <li>注册资金：1000万元</li>
            <li>联&nbsp;&nbsp;系&nbsp;&nbsp;人：王机敏</li>
          </ul>
          <button class="qd_ckda">查看企业档案</button>
          <div>
            <button class="qd_gfkf lf">官方客服</button>
            <button class=" qd_gfkf qd_jrdp lf">进入店铺</button>
          </div>
        </div>

        <div class="qd_qyda qd_dp_bg">店内搜索</div>
        <form action="" class="qd_form1">
          <div>
            <label for="">关键字</label><input type="text" class="qd_input">
          </div>
          <div>
            <label for="">价格&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" class="qd_inp30"><span>到</span><input
              type="text" class="qd_inp30">
          </div>
          <p>
            <button class="qd_fl_ss">搜索</button>
          </p>
        </form>
        <div class="qd_qyda qd_dp_bg">销量排行</div>
        <div style="border:1px solid #ddd;padding:0px 15px;height: 375px;margin-bottom:15px;">
          <div class="ph">
            <p>
              <span class="num_qd qd_colfff">1</span><span>成交11笔</span>
            </p>

            <div>
              <img src="../../image/cpxq/13.png" style="width:30%;" class="lf" alt="">
              <ul class="rt" style="width:65%;">
                <li>水下无人机器人水下摄像</li>
                <li>￥ <span class="col_red">18999.00</span></li>
              </ul>
            </div>
          </div>
          <div class="ph">
            <p>
              <span class="num_qd qd_colfff">2</span><span>成交8笔</span>
            </p>

            <div>
              <img src="../../image/cpxq/13.png" style="width:30%;" class="lf" alt="">
              <ul class="rt" style="width:65%;">
                <li>水下无人机器人水下摄像</li>
                <li>￥ <span class="col_red">18999.00</span></li>
              </ul>
            </div>
          </div>
          <div class="ph">
            <p>
              <span class="num_qd qd_colfff">3</span><span>成交3笔</span>
            </p>

            <div>
              <img src="../../image/cpxq/13.png" style="width:30%;" class="lf" alt="">
              <ul class="rt" style="width:65%;">
                <li>水下无人机器人水下摄像</li>
                <li>￥ <span class="col_red">18999.00</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div style="width:930px;" class="rt">
        <ul class="qd_fl_xx" style="background-color:#F7F8FB;border:1px solid #D6E5F1">
          <li class="qd_xxjj" style="background-color:inherit;border-right: 1px solid #D6E5F1;color:#3887D3;">最新产品</li>
          <!-- <li>商品评价(<span>123</span>万＋)</li> -->
        </ul>
        <div class="qd_fl_cont" style="height:auto;margin-top: 10px;border:inherit">
          <ul>
            <li>
              <img src="../../image/cpcs/dyj.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/dzc.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/fdj.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/kbd.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/qjd.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/xtc.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/dyj.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/dzc.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/fdj.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/kbd.png" height="182" width="210" alt=""> 
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/qjd.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
            <li>
              <img src="../../image/cpcs/xtc.png" height="182" width="210" alt="">
              <p class="moneyC">¥24600</p>  
              <p class="nameC">调速交流电机齿轮泵</p>
              <p class="successC">成交量：<span class="numberS">234</span></p>
            </li>
          </ul>
          <div style="clear: both"></div>
          <div id="demo2" class="rt" style="margin-top: 20px;display: block;width:100%;text-align: center"></div>
        </div>  
      </div>
    </div>
  </div>

</body>
<script>
  //商品
  $(".qd_fl_cont li").on("mouseover", function () {
    $(this).css({
      "opacity": "0.8",

      "cursor": "pointer",
      "border": "1px solid #0bf",
      "box-shadow": "2px 2px 5px 8px #eee"
    });
    $(this).find("img").css("transform", " scale(1.02)");
  }).on("mouseout", function () {
    $(this).css({
      "opacity": "1",
      "border": "1px solid #d6d6d6",
      "box-shadow": "0px 0px 0px 0px #fff"
    });
    $(this).find("img").css("transform", " scale(1)");
  })

  // 分页
  layui.use(['laypage', 'layer'], function () {
    var laypage = layui.laypage,
      layer = layui.layer;
    laypage.render({
      elem: 'demo2',  
      count: 100,
      theme: '#1E9FFF'
    });
  })

  $('.thumbnail').mouseover(function (e) {
    $('.origin').css('display', 'block');
    $('.magnifier').css('display', 'block');
  })

  $('.thumbnail').mousemove(function (e) {
    var pageX = e.pageX;
    var pageY = e.pageY;
    var offsetX = $('.thumbnail').offset().left;
    var offsetY = $('.thumbnail').offset().top;

    var relativeX = pageX - offsetX;
    var relativeY = pageY - offsetY;
    var magOffsetX = $('.magnifier').width() / 2;
    var magOffsetY = $('.magnifier').height() / 2;
    $('.magnifier').css({
      left: relativeX - magOffsetX + 'px',
      top: relativeY - magOffsetY + 'px'
    });
    var magX = $('.magnifier').position().left;
    var magY = $('.magnifier').position().top;
    var maxMagX = $('.thumbnail').width() - $('.magnifier').width()
    var maxMagY = $('.thumbnail').height() - $('.magnifier').height()
    if (magX <= 0) {
      $('.magnifier').css('left', '0px');
    }
    if (magX >= maxMagX) {
      $('.magnifier').css('left', maxMagX + 'px');
    }
    if (magY <= 0) {
      $('.magnifier').css('top', '0px');
    }
    if (magY >= maxMagY) {
      $('.magnifier').css('top', maxMagY + 'px');
    }
    var originX = magX * 2.5;
    var originY = magY * 2.5;
    $('.origin img').css({ left: -originX + 'px', top: -originY + 'px' });
  })
  $('.thumbnail').mouseout(function () {
    $('.origin').css('display', 'none');
    $('.magnifier').css('display', 'none');
  })
  $('img.my-small').hover(function () {
    var url = $(this).data('target');
    $('img.my-big').attr('src', url);
  });
  $('.qd_fl_xx li').click(function () {
    var i = $(this).index();
    $(this).addClass('qd_xxjj').siblings().removeClass('qd_xxjj');
    $('.qd_fl_cont>ul').eq(i).show().siblings().hide();
  });
</script>

</html>