* {
	box-sizing: border-box;
}

body {
	font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
	color: #666;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	vertical-align: middle;
}

.lf {
	float: left;
}

.rt {
	float: right;
}

.clear {
	clear: both;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #2868b7!important;
	text-decoration: underline;
}

ul li {
	list-style: none;
}

ol li {
	list-style: none;
}
.clearfix {
    zoom: 1;
}
